# Environment variables (Sensitive!)
.env
.venv
vEnv

# Local development files
ecommerce.db
instances/
tmp/
*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
.gemini/

# OS files
.DS_Store
Thumbs.db
